:root {
  --C3C3C3-color: rgba(195, 195, 195, 1);
  --797979-color: rgba(121, 121, 121, 1);
  --F5C518-color: rgba(245, 197, 24, 1);
  --1C97FF-color: rgba(28, 151, 255, 1);
  --282828-color: rgba(40, 40, 40, 0.8);
  --1B1B1B-color: rgba(27, 27, 27, 1);
  --BCBCBC-color: rgba(188, 188, 188, 1);
  --FFFFFF-color: rgba(255, 255, 255, 1);
  --181818-color: rgba(24, 24, 24, 1);
  --000000-color: rgba(0, 0, 0, 1);
  --A3A3A326-color: rgba(163, 163, 163, 0.15);
  --A3A3A399-color: rgba(163, 163, 163, 0.6);
  --A3A3A30D-color: rgba(163, 163, 163, 0.05);
  --black-color: rgba(0, 0, 0, 1);
  --FFFFFF1A-color: rgba(255, 255, 255, 0.1);
  --2525258C-color: rgba(37, 37, 37, 0.55);
  --1A1A1A-color: rgba(26, 26, 26, 1);
}
*,
p,
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  scrollbar-width: none;
}
body {
  background-color: var(--black-color) !important;
}
