:root {
  --C3C3C3-color: rgba(195, 195, 195, 1);
  --797979-color: rgba(121, 121, 121, 1);
  --F5C518-color: rgba(245, 197, 24, 1);
  --1C97FF-color: rgba(28, 151, 255, 1);
  --282828-color: rgba(40, 40, 40, 0.8);
  --1B1B1B-color: rgba(27, 27, 27, 1);
  --BCBCBC-color: rgba(188, 188, 188, 1);
  --FFFFFF-color: rgba(255, 255, 255, 1);
  --181818-color: rgba(24, 24, 24, 1);
  --000000-color: rgba(0, 0, 0, 1);
  --A3A3A326-color: rgba(163, 163, 163, 0.15);
  --A3A3A399-color: rgba(163, 163, 163, 0.6);
  --A3A3A30D-color: rgba(163, 163, 163, 0.05);
  --black-color: rgba(0, 0, 0, 1);
  --FFFFFF1A-color: rgba(255, 255, 255, 0.1);
  --2525258C-color: rgba(37, 37, 37, 0.55);
  --1A1A1A-color: rgba(26, 26, 26, 1);
}
.slider-wrapper {
  width: 100%;
  margin: auto;
  overflow: hidden;
  height: 688px;
}
.slider {
  height: 688px;
  overflow: hidden;
  position: relative;
}
.slide {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
}

.slide.active {
  display: block;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-mask-image: linear-gradient(
    to top,
    rgba(188, 174, 174, 0),
    black 70%
  );
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;
}

.slide-info {
  position: absolute;
  top: 50%;
  left: 20px; /* همان مقدار قبلی */
  transform: translateY(-50%);
  color: white;
  max-width: 496px;
  font-family: "Inter";
}

.dots {
  border-radius: 50px;
  background-color: var(--2525258C-color);
  width: 96px;
  height: 24px;
  bottom: 0;
  position: sticky;
  text-align: center;
  display: flex;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  padding: 8px 12px;
  width: fit-content;
  bottom: 3rem;
}

.dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin: 0 5px;
  background: gray;
  border-radius: 50%;
  cursor: pointer;
}

.dot.active {
  background: white;
}
.slide > .slide-info {
  color: var(--FFFFFF-color);
  gap: 15px;
  display: flex;
  flex-direction: column;
}
.slide > .slide-info > .poster-Title {
  font-weight: 700;
  letter-spacing: 0;
  font-family: "Inter";
}
.slide > .slide-info > .poster-Genre {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.slide > .slide-info > .poster-Genre > li {
  padding: 8px 16px;
  background-color: transparent;
  border-radius: 50px;
  border: 1px solid var(--FFFFFF-color);
  font-size: 1rem;
  font-family: "Inter";
  font-weight: 500;
}
.slide > .slide-info > .poster-Plot {
  font-weight: 400;
  font-family: "Inter";
  height: 76px;
  overflow: hidden;
  letter-spacing: 0;
}
.slide > .slide-info > .poster-Year {
  font-weight: 700;
  letter-spacing: 0;
  font-family: "Inter";
}
.scroll-wrapper-Search > .scroll-Content-Search > p {
  color: var(--BCBCBC-color);
}
@media (max-width: 730px) {
  .slider {
    height: 457px;
  }

  .slide > .slide-info > .poster-Plot {
    font-size: 0.7rem;
    height: 31px;
    text-overflow: ellipsis;
    white-space: wrap;
    overflow: hidden;
    font-family: "Inter";
  }
  .slide > .slide-info > .poster-Year {
    font-size: 0.7rem;
    font-family: "Inter";
  }

  .slide-info {
    left: 0px;
  }
  .slider-wrapper {
    height: 425px;
  }
  .slide > .slide-info > .poster-Genre > li {
    font-size: 0.7rem;
  }
}
